<div class="aboutMeWrapper">


        <div id="topImage" class="col-xs-12">


        </div>
        <div id="middleContent" class="col-xs-12">

            <div class="row">
            <div class="header col-xs-12">

            <div class="row">
            <div class="col-md-6 col-xs-3 col-md-offset-2">
            <h1>ЗА МЕН</h1>
            </div>

            </div>
            </div>
            </div>
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <div id="innerMiddleContentContainer">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi id vehicula velit, ac rhoncus dolor. Ut sodales est sed dui sodales fringilla. Morbi ultricies arcu vulputate egestas vulputate. Mauris lacinia est leo, at sollicitudin libero accumsan sit amet. Mauris volutpat dolor at turpis lobortis facilisis. Sed non ex efficitur, placerat elit viverra, viverra ligula. Duis dictum enim a lorem porttitor, sit amet commodo risus ornare. Sed sit amet quam et felis iaculis tempor condimentum vitae lacus. Donec vel erat massa.
                        </p>
                    </div>
                </div>
                <div class="col-md-2"></div>
            </div>
        </div>
        <div id="bottomImage" class="col-xs-12">


        <!--<div class="row">-->
            <!--<div class="test col-md-12">-->
                <!--<div class="aboutMeImageWrapper">-->

                    <!--&lt;!&ndash;<img id="aboutMe" ng-src="images/aboutMe/{{aboutMeImageSource}}">&ndash;&gt;-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->

        <!--<div class="row">-->
            <!--<div class="col-md-2"></div>-->
            <!--<div class="aboutMeContentWrapper col-md-8">-->
                <!--<p>{{aboutMeContent}}</p>-->

            <!--</div>-->
            <!--<div class="col-md-2"></div>-->

        <!--</div>-->


    </div>
</div>
