<div main-menu></div>
<div admin-panel></div>
<div class="panelContent">
	<div class="row">
	    <div class="header col-xs-12">
	        <div class="row">
	            <div id="selectCount" class="col-md-1 col-xs-1">
	                <select class="form-control" ng-change="$emit('MyEvent')"  ng-model='formPageCount.count' ng-options='option.value as option.name for option in pageCount'>
	                </select>
	            </div>
	            <div  class="col-md-2 col-xs-3 pull-right" paging></div>
	        </div>
	    </div>
	</div>
	<div class="row">
	    <div id="imagesContainer" class="col-md-12" images-add-to-carousel></div>
	    <button ng-click="addToCarousel()" id="addToCarousel">Add</button>
	    <div id="bottomPagination" class="col-md-2 col-xs-3 pull-right" paging></div>
	</div>
</div>