<div class="leftAside">
	<ul class="adminOptions">
		<li><a href="">Карузел</a>
			<ul>
				<li><a href="" ng-click="route('/adminPanel/removeFromCarousel')">Премахни от карузел</a></li>
				<li><a href="" ng-click="route('/adminPanel/addToCarousel')">Добави в карузел</a></li>
			</ul>
		</li>
		<li><a href="">Новини</a>
			<ul>
				<li><a href="" ng-click="route('/adminPanel/addNews')">Добави новина</a></li>
				<li><a href="" ng-click="route('/adminPanel/editNews')">Редактирай новина</a></li>
			</ul>
		</li>
		<li><a href="">Снимки</a>
			<ul>
				<li><a href="" ng-click="route('/adminPanel/uploadImage')">Качи снимка</a></li>
				<li><a href="" ng-click="route('/adminPanel/editImage')">Редактирай снимка</a></li>
			</ul>
		</li>
		<li><a href="">FineArt</a>
			<ul>
				<li><a href="" ng-click="route('/adminPanel/removeFromCarousel')">Промени съдържание</a></li>
			</ul>
		</li>
		<li><a href="">За мен</a>
			<ul>
				<li><a href="" ng-click="route('/adminPanel/editAboutMe')">Промени съдържание</a></li>
			</ul>
		</li>
	</ul>

</div>

