<div class="articleWrapper">

    <div class="row">

        <div class="artContainer" ng-repeat="i in articles">
            <a ng-href="#/news/{{i.id}}" ng-mouseover="zoom($event)" ng-mouseleave="unzoom($event)" class="article col-md-4" >
                <img src="images/{{i.articleImage}}">

                <div class="title">
                    <p>{{i.titleBG}}</p>
                </div>

                <div class="tick">
                    <div>
                        <span class="day">{{i.Day}}</span>
                        <span class="monthName">{{i.monthName}}</span>
                    </div>
                </div>
            </a>

        </div>
    </div>
</div>