<div main-menu></div>
<div admin-panel></div>
<div class="panelContent">
	<div class="editCurrentImage row">
		<div class="col-xs-6">
			<label>Заглавие на Англиисйки</label>
			<input type="text" id="title" />
			<label>Описание на Английски</label>
			<textarea id="desc"></textarea>
		</div>
		<div class="col-xs-6">
			<label>Заглавие на Български</label>
			<input type="text" id="titleBg" />
			<label>Описание на Български</label>
			<textarea id="descBg"></textarea>	
		</div>		
	</div>
	<div>
		<input type="button" value="Запази промените" class="saveImageChanges" ng-click="saveChanges()" />
	</div>
</div>