<div id="footer">
    <div class="row">
        <div class="container col-xs-12">

            <div class="row">
                <div class="col-md-2 col-xs-0"></div>
                <div class="col-md-6 col-sm-6">
                    <p id="text" class="text-left">Всички права са запазени © 2016. All Rights Reserved © 2016.</p>
                </div>
                <!--<div class="innerSocialWrapper col-md-3 col-sm-6">-->
                    <!--<div id="test" class="col-xs-10 pull-right">-->
                        <!--<div id="fb-root"></div>-->
                        <!--<script>-->
                            <!--(function () {-->
                                <!--window.fbAsyncInit = function () {-->
                                    <!--FB = null;-->
                                    <!--FB.init({-->
                                        <!--appId: '{{shareLink}}', status: true, cookie: true,-->
                                        <!--xfbml: true-->
                                    <!--});-->
                                <!--};-->
                                <!--(function () {-->
                                    <!--var e = document.createElement('script');-->
                                    <!--e.async = true;-->
                                    <!--e.src = document.location.protocol +-->
                                            <!--'//connect.facebook.net/en_US/all.js';-->
                                    <!--document.getElementById('fb-root').appendChild(e);-->
                                <!--}());-->
                            <!--})();-->
                        <!--</script>-->

                        <!--&lt;!&ndash; Your like button code &ndash;&gt;-->
                        <!--<div class="fb-like"-->
                             <!--data-href="{{shareLink}}"-->
                             <!--data-layout="button_count"-->
                             <!--data-action="like"-->
                             <!--data-show-faces="true"-->
                             <!--data-share="true"-->
                        <!--&gt;-->
                        <!--</div>-->


                        <!--<a href="https://twitter.com/twitter" class="twitter-follow-button" data-show-count="false">Follow-->
                            <!--@twitter</a>-->
                        <!--<script>-->
                            <!--!function (d, s, id) {-->
                                <!--var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https';-->

                                <!--js = d.createElement(s);-->
                                <!--js.id = id;-->
                                <!--js.src = p + '://platform.twitter.com/widgets.js';-->
                                <!--fjs.parentNode.insertBefore(js, fjs);-->
                            <!--}(document, 'script', 'twitter-wjs');-->
                        <!--</script>-->

                        <!--&lt;!&ndash; Поставете този маркер в заглавката или точно преди затварящия маркер за основния текст. &ndash;&gt;-->
                        <!--<script src="https://apis.google.com/js/platform.js" async defer>-->
                            <!--{-->
                                <!--lang: 'bg'-->
                            <!--}-->
                        <!--</script>-->

                        <!--&lt;!&ndash; Поставете този маркер там, където искате да се изобразява вашият бутон „Споделяне“. &ndash;&gt;-->

                        <!--<div class="gwrap">-->
                            <!--<div class="g-plus" data-action="share" data-annotation="none"></div>-->
                        <!--</div>-->
                    <!--</div>-->

                <!--</div>-->
            </div>

        </div>
    </div>
    <!--<p class="muted credit">Example courtesy <a href="http://martinbean.co.uk">Martin Bean</a> and <a href="http://ryanfait.com/sticky-footer/">Ryan Fait</a>.</p>-->
</div>