<div class="paginationWrapper">

    <button class="btn btn-default" ng-click="backPage()">&#8592;</button>

    <ul class="paging">
        <li ng-repeat="i in leftSideButtons(leftPageButForPrint) track by $index"><a href="#/gallery/page/{{leftSideIndex + $index}}">{{leftSideIndex + $index}}</a></li>
    </ul>
    <ul id="currentPage" class="paging">
        <li><a href="#/gallery/page/{{currentPage}}">{{currentPage}}</a></li>
    </ul>
    <ul class="paging">
        <li ng-repeat="i in rightSideButtons(rightPageButForPrint) track by $index"><a href="#/gallery/page/{{rightSideIndex + $index}}">{{rightSideIndex + $index}}</a></li>
    </ul>
    <button class="btn btn-default" ng-click="nextPage()">&#8594;</button>
</div>