body {
    background-color: #42464F;
    font-family: "Comic Sans MS";
}

h1 {
    color: white;

    margin-top: 40px;
    margin-bottom: 10px;
}

.paging {

    list-style-type: none;
    display: inline-block;
    padding-left: 0px;
}

.paging li {
    display: inline-block;
    color: #06B600;
    width: 8px;
    height: 6px;
    padding: 10px;
    padding-bottom: 15px;
    margin: 0px 3px 0px 3px;
}

.paging li:hover {
    /*background-color: yellow;*/
}

.paging li a {
    color: #06B600;
}

#currentPage li {
    font-weight: bold;
    width: 10px;
    height: 10px;
}

.paginationWrapper {
    display: block;
    position: relative;
    margin-top: 25px;
    /*padding-bottom: 55px;*/
}

#bottomPagination {
    padding-bottom: 55px;
    /*margin-left: 50px;*/
}

.selectCount {

    width: 115px;
    margin-top: 29px;
    font-weight: bold;
    color: #ffc165;;
}

.filtersElement {

    margin-bottom: 15px;
    color: white;
    background-color: transparent;
    padding-left: 20px;
    padding-right: 30px;
    width: 150px;
}

h4 {
    width: 145px;
}

.imagesWrapper {
    margin-top: 19px;
}

#presentedImage {

    width: 745px;
    height: 500px;

    display: inline-block;
    padding: 0px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    overflow: hidden;
    position: relative;

}

#presentedImage img {
    max-width: 100%;
    max-height: 100%;
    z-index: 10;
    /*-webkit-transition: max-width 0.5s, max-height 0.5s; !* For Safari 3.1 to 6.0 *!*/
    /*transition: max-height 0.5s, max-height 0.5s;*/
    /*-webkit-transition: all 0.5s ease-in-out;*/
    position: absolute;
}

#presentedImage img:hover {

    /*max-width:105%;*/
    /*max-height:105%;*/
    /*position: absolute;*/
    /*-webkit-transition: max-width 0.5s, max-height 0.5s; !* For Safari 3.1 to 6.0 *!*/
    /*transition: max-height 0.5s, max-height 0.5s;*/
    /*-webkit-transition: all 0.5s ease-in-out*/
}

#regularImage {

    width: 457px;
    height: 307px;
    display: inline-block;
    padding: 0px;
    margin: 10px;
    float: left;
    position: relative;
    overflow: hidden;
    border: 3px solid rgb(198, 198, 198);

}

.mIco {
    font-size: 55px;
    color: white;
    position: absolute;
    width: 100px;
    z-index: 100;
    top: calc(45% - 38.5px);
    left: calc(50% - 50px);
    display: none;
}

#regularImage img {

    max-width: 103%;
    max-height: 103%;

    position: absolute;
    /*-webkit-transition: max-width 0.5s, max-height 0.5s; !* For Safari 3.1 to 6.0 *!*/
    /*transition: max-height 0.5s, max-height 0.5s;*/
    /*-webkit-transition: all 0.5s ease-in-out*/

}

#regularImage:hover {

    border: 3px solid rgb(6, 182, 0);

    /*max-width:105%;*/
    /*max-height:105%;*/
    /*-webkit-transition: max-width 0.3s, max-height 0.3s; !* For Safari 3.1 to 6.0 *!*/
    /*transition: max-height 0.3s, max-height 0.3s;*/
    /*-webkit-transition: all 0.3s ease-in-out*/

}

img {
    display: inline-block;
}

.currentImage {
    width: 100%;
    height: 110%;
    position: absolute;
}

#test {
    /*display: inline-block;*/
    /*vertical-align: middle;*/
    /*float: none;*/

    /*height: 30px;*/
}


.artContainer {
    position: relative;
}

#currentArticleWrapper{
    margin-bottom: 66px;
}

.articleContent{
    color: white;
}

.articleWrapper {
    /*margin: 20px;*/
}

.article {
    border: 3px solid rgb(198, 198, 198);
    position: relative;
    overflow: hidden;
    display: block;
    width: 478px;
    height: 318px;
    padding: 0px;
    margin: 15px;

}


.article:hover {
    border: 3px solid rgb(6, 182, 0);

}

.tick {

    display: block;
    background-color: #98b526;
    position: relative;
    border-radius: 5px;
    width: 8%;
    height: 15%;
    top: -1.3%;
    left: 90%;
}

.tick div {
    position: absolute;
    display: inline-block;
    left: 0px;
}

.tick div span {
    color: white;
    display: block;
    text-align: left;
    margin-left: 3px;
    font-weight: bold;
}

.article img {

    max-width: 102%;
    max-height: 102%;
    /*margin-bottom: 25px;*/
    float: left;
}

.title {
    position: absolute;
    top: calc(98% - 25px);
    width: 100%;
    color: white;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.3);
}

.day {

    margin-top: 3px;
    margin-bottom: -2px;

    font-size: 18px;
}

#articlePostDate {
    margin-top: 40px;
    color: white;
}

#articleImage {
    margin: 15px 0 25px 0;
    /*margin-bottom: 25px;*/
    background-color: #eeeeee;
    border: 1px solid #7e7e7e;
}

#articleTitle {

    margin-top: 25px;
}

#googleButtons {
    margin-left: 55px;
}

.twitter-share-button {
    margin-left: 50px;

}

#filtersWrapper {
    margin-top: 0px;
    padding-left: 0px;
}

#filtersWrapper h4 {

    color: #fbffff;
}

/*ICONS*/

.icons {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}

.positionFixer {

    position: fixed;
    display: inline-block;

    width: 100%;
    height: 100%;
}

.arrows {
    display: inline-block;
    top: 30%;
}

#leftArrowWrapper {

    position: absolute;
    left: 4%;
}

.leftArrow {
    background-image: url("arrows.png");
    width: 128px;
    height: 128px;
    z-index: 100;

}

.leftArrow:hover {
    border: 0px;
    background: url("arrows.png") 0 128px;
}

#rightArrowWrapper {
    position: absolute;
    left: 90%;
}

.rightArrow {
    background: url("arrows.png") 128px 0;
    width: 128px;
    height: 128px;
    z-index: 100;
}

.rightArrow:hover {
    background: url("arrows.png") 128px 128px;
}

#iconsSetWrapper {
    border: 2px solid white;
    border-radius: 5px;
    background-color: rgba(233, 248, 212, 0.1);
    padding: 10px;
    position: absolute;
    top: 57%;
    left: 97%;
    display: inline-block;
    width: 60px;
    font-size: 35px;
}

.innerWrapper a {

    color: #98b526;
}

.innerWrapper {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 56px;
}

.arrow {
    position: absolute;
    top: 0px;
    left: 0px;
    /*-webkit-transition: -webkit-transform 0.3s;*/
    /*-webkit-transition: transform 0.3s;*/
}

#size {
    z-index: 100000;
    position: absolute;
    top: 0px;
    left: 0px;
    /*-webkit-transition: -webkit-transform 0.6s;*/
    /*-webkit-transition: transform 0.6s;*/
    transition: all 0.6s;
}

#ico {
    position: absolute;
    top: 0px;
    left: 0px;
    /*-webkit-transition: -webkit-transform 0.6s;*/
    /*-webkit-transition: transform 0.6s;*/
    transition: transform 0.6s;
}

#cart {
    position: absolute;
    top: 0px;
    left: 0px;
    /*-webkit-transition: -webkit-transform 0.3s;*/
    /*-webkit-transition: transform 0.3s;*/
    transition: all 0.6s;

}

#fineArt {
    position: absolute;
    top: 0px;
    left: 0px;
    /*-webkit-transition: -webkit-transform 0.3s;*/
    /*-webkit-transition: transform 0.3s;*/
    transition: all 0.6s;

}

.innerWrapper a {
    display: block;
    width: 40px;
    height: 100%;
}

.innerWrapper a:hover #size {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    color: #0dd400;

}

.innerWrapper a:hover #cart {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    color: #0dd400;

}

.innerWrapper a:hover #ico {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    color: #0dd400;

}

.innerWrapper a:hover #fineArt {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    color: #0dd400;

}

/*Social Buttons article*/
.socialButtonsWrapper {

    border: 1px solid white;
    background-color: rgba(233, 248, 212, 0.2);

    border-radius: 5px;
    color: white;
    padding: 5px;
    position: absolute;
    top: 87%;
    left: 5%;
    display: inline-block;
    width: 440px;
    font-size: 25px;
}

.innerSocialWrapper {

    display: block;
    position: relative;
    /*width: 350px;*/
    /*left: 100%;*/
    margin-top: 10px;
    margin-left: -65px;
}

.twitter-follow-button {
    vertical-align: bottom;
}

#gbutt {

    position: absolute;
    top: 15px;
}

.gwrap {

    width: 80px;
    height: 20px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    margin-top: -2px;
}

/*Fullsize image wrapper*/

.fullSizeWrapper {
    position: relative;
    max-width: 100%;
    height: 100%;
}

#fullSizeImage {

    height: 105.5%;
    max-width: 100%;
    max-height: 105.5%;
    position: absolute;
    background-color: #596372;
    margin-top: -50px;

}

/*Fine Art*/

.fineArtWrapper {

    position: absolute;
    width: 100%;
    height: 100%;
}

.fineArtController {

    position: relative;
    display: block;
    /*border-bottom: 3px solid black;*/
}

#fineArtPresentedImage {

    position: relative;
    margin-top: 50px;
    margin-bottom: 50px;
    /*border: 3px solid #596372;*/
    display: block;
    height: 600px;
    padding: 5px;
    /*background-color: #f0f0f0;*/
}

#fineArtImagesWrapper {

    position: relative;
    margin: 55px 0 50px 5px;
    /*border: 3px solid #596372;*/
    display: block;
    /*background-color: #f0f0f0;*/
    height: 500px;
}

.fineArtImages {

    position: relative;
    border: 3px solid #596372;
    /*background-color: #f0f0f0;*/
    margin: 0px 0 5px 0;
    height: 193px;
    padding: 0px;
}

.fineArtImages img {
    position: absolute;
    /*margin-left: calc(50% - 42%);*/
    width: 100%;
    height: 100%;
    /*padding-right: 20px;*/
    /*padding: 3px 20px 3px 5px;*/
}

/*.fineArtImages:hover {*/
    /*background-color: #5acf26;*/
/*}*/

#fineArtAnimation {
    position: relative;
    width: 100%;
    height: 100%;
    border: 3px solid #596372;
    -webkit-perspective: 350px; /* Chrome, Safari, Opera  */
    perspective: 1150px;
}

#backGroundImage {

    position: absolute;
    width: 100%;
    height: 100%;

}

#animation {
    position: absolute;
    margin-left: 10px;
    /*max-width: 30%;*/
    /*max-height: 30%;*/
    padding: 3px;

}

.fineArtContent {

    margin-top: 15px;
    position: absolute;
    font-family: "Comic Sans MS";
    color: white;
    margin-bottom: 30px;
}

/*price table*/

.tg {
    border-collapse: collapse;
    border-spacing: 0;
    border-color: #bbb;
    margin-top: 10px;
    margin-left: -5px
}

.tg td {
    font-family: Arial, sans-serif;
    font-size: 14px;
    padding: 10px 5px;
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
    word-break: normal;
    border-color: #bbb;
    color: #594F4F;
    background-color: #E0FFEB;
}

.tg th {
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    padding: 10px 5px;
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
    word-break: normal;
    border-color: #bbb;
    color: #493F3F;
    background-color: #9DE0AD;
}

.tg .tg-yw4l {
    vertical-align: top
}

/*---------*/
#cartIcon,#mail {
    line-height: 10px;
    margin-left: 15px;
    font-size: 20px;
}

ul li a{

    text-decoration: none;
}

/*#cartIcon:hover {*/
    /*color: #06B600 !important;*/
/*}*/

/*NAVIGATION*/

.nav.navbar-nav li a:hover {
    color: #5acf26 !important;
    text-decoration: none;

}
/*.nav{*/
    /*height: 43px !important;*/
/*}*/
/*.nav.navbar-nav.navbar-left{*/
    /*height: 35px !important;*/

/*}*/
/*.logo{*/
    /*height: 35px !important;*/
/*}*/
/*.navbar-header{*/
    /*height: 40px;*/
/*}*/
/*.container-fluid{*/
    /*height: 40px !important;*/
/*}*/
/*About me*/

.aboutMeWrapper {

    position: absolute;
    width: 100%;
    height: 100%;

}

#topImage {
    background-image: url("nature.jpg");
    width: 100%;
    height: 35%;
    background-size: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    position: relative;
}

#middleContent {
    color: black;
    position: relative;
    width: 100%;
    background-color: white;
}

#middleContent h1 {
    color: black;
}

#bottomImage {
    background-image: url("nature.jpg");
    height: 50%;
    background-repeat: no-repeat;
    width: 100%;
    background-size: 100%;
    background-attachment: fixed;
    position: relative;

}

.aboutMeImageWrapper img {
    position: absolute;
}

/*Cart*/

.cartContainer {
    margin-top: 3px;
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    border: 2px solid black;
}

#innerCartContainer {

    padding: 30px;
    background-color: white;
    position: relative;
    display: block;
    width: 100%;
    height: 100%;

}


#emailAddress {

    margin: 0 0 10px -10px;
}

#cartPresentImage {

    position: relative;

}

#cartPresentImage img {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: auto;
}

label:hover{

    color: #06B600;
}

.modal-footer {
    position: relative;
}

#totalPriceInformation {
    margin-top: 50px !important;
}

#payButtonWrapper {
    margin-left: 0px;
    margin-top: 50px !important;

}

#paypalButtonWrapper {

    width: 280px;
    height: 100px;
    position: relative;
}

#paypalBanner {
    position: absolute;
    margin-right: 0%;
    width: 270px;

}

.btn.noRadius {
    border-radius: 2px;
}


/*FOOTER*/

#footer{

    background-color: rgb(238,238,238);
    position: fixed;
    width: 100%;
    top: 96%;
    height: 50px;

    margin-bottom: 0px;
}


#text{
    line-height: 40px;
}

/*CONTACTS*/

.g-recaptcha{
    padding: 0px 0px 0px 8px;
}

.contactsContainer{
    background-color: #F5F5F5;
}
.formWrapper{

    margin-top: 30px;

}
.formWrapper textarea{

    max-width: 500px;
}
.contactPreview{
    margin-top: 30px;
    padding-left: 30px;
    height: 220px;
    border: 1px solid lightgray;
}
#aboutMeImage{

    width: 150px;
    z-index: 100;
    position: absolute;

    top:  -9%;
    left: 78%;

}
.contactPreview span{

    color: grey;
    font-size: 20px;
}



/*SEARCH*/

#endOfSearchContent{
    border: 1px solid black;
    height: 30px;
}

#searchInput{

    padding-left: 100px;
}
#searchSelection{
    font-size: 12px;
    top: 0px;
    position: absolute;
    width: 93px;
}

#searchPageWrapper{

    margin-bottom: 50px;
    padding: 30px;
    background-color: white;
    position: relative;
    display: block;
    width: 100%;
    height: 100%;

}
.resultContainer{

    position: absolute;
    background-color: white;
    border-style: solid;
    border-color: #EEEEEE;
    border-width: 0px 2px 2px 2px;;
    width: 270px;
}

.searchListElement{



    margin-right: 30px;
    margin-top: 8px;
}

.searchWrapper{

    width: 350px;
    position: relative;
    /*padding: 0px;*/
    /*margin-right: 30px;*/
}


.searchedElementDate{

    position: absolute;
    border-radius: 0px 0px 5px 5px;
    background-color: #98b526;
    top: 4px;
    left: 85%;
    width: 35px;
    /*border: 1px solid black;*/
}

.searchedElementDate div span {
    color: white;
    display: block;
    text-align: left;
    margin-left: 3px;
    font-weight: bold;
}

.titleSearchedResult{

    display: block;
    position: absolute;
    width: 97.5%;
    top: 82%;
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    text-align: center;

}
.titleSearchedResult p{
    margin-top: 5px;
}


#imagesResultsWrapper ul{
    list-style-type: none;
    display: inline-block;

}
#imagesResultsWrapper ul li{
    list-style-type: none;
    border: 1px solid lightgrey;
    border-radius: 2px;
    padding: 4px;
    position: relative;

}
#imagesResultsWrapper ul li:hover{
    background-color: rgb(6, 182, 0);

}
.seachedResultImageElement{
    width: 315px;

}

/*ADMIN PANEL */

.editAboutMeWrapper{

    width: 100%;
    background-color: whitesmoke;
    color: #000;
    border: 1px solid white;
    padding-bottom: 20px;
}
.editAboutMeWrapper h1{
    color: black;
}

/*RESPONSIVE*/
@media screen and (max-width: 1751px) {
    #regularImage {

        width: 440px;
        height: 295px;
    }

    .rightArrow {
        background: url("arrows.png") 100px 0;
        background-size: 200px 200px;
        width: 100px;
        height: 100px;
        z-index: 100;
    }

    .rightArrow:hover {
        background: url("arrows.png") 100px 100px;
        background-size: 200px 200px;
        width: 100px;
        height: 100px;
    }

    .leftArrow {
        background-image: url("arrows.png");
        background-size: 200px 200px;
        width: 100px;
        height: 100px;
        z-index: 100;

    }

    .leftArrow:hover {
        border: 0px;
        background: url("arrows.png") 0 100px;
        background-size: 200px 200px;
        width: 100px;
        height: 100px;
    }

    #rightArrowWrapper {
        position: absolute;
        left: 90%;
    }

    #buyButton {

        width: 56% !important;
    }

    tr td {
        margin: 0px;
        padding: 0px;
    }

}

#select {
    border-radius: 2px;
}

@media screen and (max-width: 1716px) {
    #regularImage {

        width: 415px;
        height: 277px;
    }

    #filtersContainer {
        margin-left: 50px;
        margin-right: 50px;
    }

}

@media screen and (max-width: 1643px) {
    #regularImage {
        width: 370px;
        height: 247px;
    }

    #filtersContainer {
        margin-left: 50px;
        margin-right: 50px;
    }

    #rightArrowWrapper {
        position: absolute;
        left: 90%;
    }
}

@media screen and (max-width: 1426px) {
    #regularImage {
        width: 360px;
        height: 247px;
    }

    #filtersContainer {
        margin-left: 50px;
        margin-right: 50px;
    }

    #rightArrowWrapper {
        position: absolute;
        left: 90%;
    }
}

@media screen and (max-width: 1393px) {
    #regularImage {
        width: 320px;
        height: 197px;
    }

    #filtersContainer {
        margin-left: 50px;
        margin-right: 50px;
    }

    .rightArrow {
        background: url("arrows.png") 80px 0;
        background-size: 160px 160px;
        width: 80px;
        height: 80px;
        z-index: 100;
    }

    .rightArrow:hover {
        background: url("arrows.png") 80px 80px;
        background-size: 160px 160px;
        width: 80px;
        height: 80px;
    }

    .leftArrow {
        background-image: url("arrows.png");
        background-size: 160px 160px;
        width: 80px;
        height: 80px;
        z-index: 100;

    }

    .leftArrow:hover {
        background: url("arrows.png") 0 80px;
        background-size: 160px 160px;
        width: 80px;
        height: 80px;
    }

    #rightArrowWrapper {
        position: absolute;
        left: 80%;
    }

    #fineArtImagesWrapper {

        /*margin: 50px 0 50px 0;*/
    }

    #topImage {

        background-size: 140%;
    }

    #bottomImage {

        background-size: 140%;
    }

}

@media screen and (max-width: 1393px) {

    #topImage {

        background-size: 220%;
        background-position: top;
    }

    #bottomImage {

        background-position: bottom;
        background-size: 220%;
    }

}