<div ng-controller="adminController" class="panel">
	<div class="leftAside">
		<ul class="adminOptions">
			<li><a href="">Remove from carousel</a></li>
			<li><a href="">Add to carousel</a></li>
			<li><a href="">Remove from carousel</a></li>
			<li><a href="">Remove from carousel</a></li>
			<li><a href="">Remove from carousel</a></li>
			<li><a href="">Remove from carousel</a></li>
			<li><a href="">Remove from carousel</a></li>
		</ul>
	</div>
	<div class="panelContent">
		<div class="removeCarousel">
			
		</div>
	</div>
</div>