<div main-menu></div>
<div class="row">
    <div class="header col-xs-12">

        <div class="row">
            <div  class="col-md-6 col-xs-3 col-md-offset-2">
                <h1>FINE ART</h1>
            </div>

        </div>
    </div>
</div>

<div class="fineArtWrapper">
    <div class="row">
        <div class="fineArtController col-md-12">

                <div class="row">
                    <div class="col-md-6 col-md-push-2 col-xs-push-0" id="fineArtPresentedImage">
                        <div id="fineArtAnimation">
                            <img id="backGroundImage" ng-src="images/fineArt/{{presentedImage}}">
                            <img id="animation" ng-src="images/{{animatedImage}}">
                        </div>
                    </div>

                    <div id="fineArtImagesWrapper" class="col-md-2 col-md-push-2 col-xs-push-0">
                        <div ng-click="presentImage(fineArtOne,1)" class="fineArtImages col-xs-12">
                            <img ng-src="images/fineArt/{{fineArtOne}}">
                        </div>
                        <div ng-click="presentImage(fineArtTwo,2)" class="fineArtImages col-xs-12">
                            <img ng-src="images/fineArt/{{fineArtTwo}}">

                        </div>
                        <div ng-click="presentImage(fineArtThree,3)" class="fineArtImages col-xs-12">
                            <img ng-src="images/fineArt/{{fineArtThree}}">

                        </div>
                    </div>
                </div>
        </div>
    </div>
    <div class="row">

        <div class="fineArtContent">

            <div class="row">
                <div class="col-md-2 col-xs-0"></div>

                <div class="col-md-7">
                    <div ng-bind-html="fineArtContent">
                    </div>
                </div>
                <div class="col-md-2 col-xs-0"></div>

            </div>

            <div class="row">

                <div class="row">
                    <div class="col-md-2 col-xs-0"></div>
              </div>
            </div>
        </div>


    </div>
</div>
