<div main-menu></div>
<div class="row">
    <div class="header col-xs-12">

        <div class="row">
            <div  class="col-md-6 col-xs-3 col-md-offset-2">
                <h1>FINE ART</h1>
            </div>

        </div>
    </div>
</div>

<div class="fineArtWrapper">
    <div class="row">
        <div class="fineArtController col-md-12">

                <div class="row">
                    <div class="col-md-5 col-md-push-2 col-xs-push-0" id="fineArtPresentedImage">
                        <div id="fineArtAnimation">
                            <img id="backGroundImage" ng-src="images/fineArt/{{presentedImage}}">
                            <img id="animation" ng-src="images/{{animatedImage}}">
                        </div>
                    </div>

                    <div id="fineArtImagesWrapper" class="col-md-2 col-md-push-2 col-xs-push-0">
                        <div ng-click="presentImage(fineArtOne,1)" class="fineArtImages col-xs-12">
                            <img ng-src="images/fineArt/{{fineArtOne}}">
                        </div>
                        <div ng-click="presentImage(fineArtTwo,2)" class="fineArtImages col-xs-12">
                            <img ng-src="images/fineArt/{{fineArtTwo}}">

                        </div>
                        <div ng-click="presentImage(fineArtThree,3)" class="fineArtImages col-xs-12">
                            <img ng-src="images/fineArt/{{fineArtThree}}">

                        </div>
                    </div>
                </div>
        </div>
    </div>
    <div class="row">

        <div class="fineArtContent">

            <div class="row">
                <div class="col-md-2 col-xs-0"></div>

                <div class="col-md-7">
                    <div ng-bind-html="fineArtContent">
                    </div>
                </div>
                <div class="col-md-2 col-xs-0"></div>

            </div>

            <div class="row">

                <div class="row">
                    <div class="col-md-2 col-xs-0"></div>

                    <div class="col-md-7">
                        <div class="col-md-12">
                            <table class="tg">
                                <tr>
                                    <th class="tg-yw4l">Цени</th>
                                    <th class="tg-yw4l">Gloss</th>
                                    <th class="tg-yw4l">Silk Mat</th>
                                    <th class="tg-yw4l">Luster</th>
                                    <th class="tg-yw4l">Luster</th>
                                    <th class="tg-yw4l">Canava</th>
                                </tr>
                                <tr>
                                    <td class="tg-yw4l">Размери/Тег.</td>
                                    <td class="tg-yw4l">255 гр</td>
                                    <td class="tg-yw4l">255 гр</td>
                                    <td class="tg-yw4l">290 гр</td>
                                    <td class="tg-yw4l">200 гр</td>
                                    <td class="tg-yw4l">255 гр</td>
                                </tr>
                                <tr>
                                    <td class="tg-yw4l">20 x 30</td>
                                    <td class="tg-yw4l"></td>
                                    <td class="tg-yw4l"></td>
                                    <td class="tg-yw4l"></td>
                                    <td class="tg-yw4l"></td>
                                    <td class="tg-yw4l"></td>
                                </tr>
                                <tr>
                                    <td class="tg-yw4l">30 x 40</td>
                                    <td class="tg-yw4l"></td>
                                    <td class="tg-yw4l"></td>
                                    <td class="tg-yw4l"></td>
                                    <td class="tg-yw4l"></td>
                                    <td class="tg-yw4l"></td>
                                </tr>
                                <tr>
                                    <td class="tg-yw4l">40 x 60</td>
                                    <td class="tg-yw4l"></td>
                                    <td class="tg-yw4l"></td>
                                    <td class="tg-yw4l"></td>
                                    <td class="tg-yw4l"></td>
                                    <td class="tg-yw4l"></td>
                                </tr>
                                <tr>
                                    <td class="tg-yw4l">50 x 70</td>
                                    <td class="tg-yw4l"></td>
                                    <td class="tg-yw4l"></td>
                                    <td class="tg-yw4l"></td>
                                    <td class="tg-yw4l"></td>
                                    <td class="tg-yw4l"></td>
                                </tr>
                                <tr>
                                    <td class="tg-yw4l">60 x 80</td>
                                    <td class="tg-yw4l"></td>
                                    <td class="tg-yw4l"></td>
                                    <td class="tg-yw4l"></td>
                                    <td class="tg-yw4l"></td>
                                    <td class="tg-yw4l"></td>
                                </tr>
                                <tr>
                                    <td class="tg-yw4l">60 x 90</td>
                                    <td class="tg-yw4l"></td>
                                    <td class="tg-yw4l"></td>
                                    <td class="tg-yw4l"></td>
                                    <td class="tg-yw4l"></td>
                                    <td class="tg-yw4l"></td>
                                </tr>
                                <tr>
                                    <td class="tg-yw4l">70 x 100</td>
                                    <td class="tg-yw4l"></td>
                                    <td class="tg-yw4l"></td>
                                    <td class="tg-yw4l"></td>
                                    <td class="tg-yw4l"></td>
                                    <td class="tg-yw4l"></td>
                                </tr>
                                <tr>
                                    <td class="tg-yw4l">110 x 110</td>
                                    <td class="tg-yw4l"></td>
                                    <td class="tg-yw4l"></td>
                                    <td class="tg-yw4l"></td>
                                    <td class="tg-yw4l"></td>
                                    <td class="tg-yw4l"></td>
                                </tr>
                            </table>
                    </div>
                    <div class="col-md-2 col-xs-0"></div>

                </div>


              </div>
            </div>
        </div>


    </div>
</div>
