<div main-menu></div>

<div class="row">
    <div class="header col-xs-12">
        <div class="row">
            <div  class="col-md-6 col-xs-3 col-md-offset-2">
            <h1>Новини</h1>
            </div>
            <div id="selectCount" class="col-md-1 col-xs-1 col-md-offset-1">
                <select class="form-control" ng-change="$emit('changeYearOfNews')"  ng-model='years.count' ng-options='option.value as option.name for option in year'>
                </select>
            </div>
            <div  class="col-md-2 col-xs-3" paging-news></div>
        </div>
    </div>
</div>
<div class="row">


    <div class="col-md-1"></div>
    <div class="col-md-10" all-news></div>
    <div class="col-md-1"></div>

    <div id="bottomPagination" class="col-md-2 col-xs-3 pull-right" paging-news></div>
</div>
